body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 50px;
    text-align: center;
}
h3{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}
h4{
    font-size: 25px;
}
h6{
    font-size: 20px;
}
p{
    text-align: left;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
     width: 100%;
}
.small-half-width img{
    width: 2.5%;
    float:left;
    left: 43%;
    position: relative;
    margin: 1%;
    
    
}
.img-with-text{
    text-align: justify;
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.img-with-text img{
    display: block;
    width: 100%;
    
    
}

.frist-banner{
    background-image: url("image/background\ image-B-1.jpg");
    background-repeat: no-repeat;
    

}
.background-image{
    background-image: url("image/Group_33094_1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px 200px;
    height: 40%;
   
}
.img-text{
    color: whitesmoke;
    font-size: 200%;
    position: relative;
    left: 30%;
    top: 45%;
    font-size: 250%;

}
.background-link{
    float: right;
    margin-inline: 30%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.name-color{
    color: orangered;
}
.color-name{
    color: crimson;
}
.line-color{
    color: red;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, gold, goldenrod);
    padding: 10px 20px;
    border-radius: 10px;
    color: blueviolet;
    font-weight: 700;
}
.shadow{
    box-shadow: 10px 20px 40px lightpink;
    border-radius: 10px;
    height: 80%;
}
.shadow-img-one{
    box-shadow: 10px 20px 40px dimgray;
    border-radius: 15px;
    height: 90%;
}
.shadow-img-two{
    box-shadow: 10px 20px 40px dimgray;
    border-radius: 15px;
    height: 90%;
}
.shadow-img-three{
    box-shadow: 10px 20px 40px dimgray;
    border-radius: 15px;
    height: 90%;
}
.final-work p{
    text-align: center;
}
.final-work h4{
    text-align: center;
}
#my-design{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, red, orangered);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 15px;
}
